<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>Hello World E-commerce</title>
  <script src="/javascripts/angular.min.js"></script>
</head>

<body ng-app="home">
</body>

</html>

