<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <title>Hello World E-commerce</title>
</head>

<body>
  <% include ../partials/navbar %>
  
  <div class="container">
    <h3>My Dashboard<h3>
    <hr>
    <div class="panel panel-primary" style="width:40%;text-align:center;margin:0px auto;"> 
      <div class="panel-heading">
        <h3 class="panel-title">Orders</h3>
      </div>
      <div class="panel-body">
        <a href="/sellers/orders"><h4>Check orders status</h4></a>
      </div>
    </div>
    </br>
    <div class="panel panel-primary" style="width:40%;text-align:center;margin:0px auto;"> 
      <div class="panel-heading">
        <h3 class="panel-title">Products</h3>
      </div>
      <div class="panel-body">
        <a href="/sellers/add/product"><h4>Add a product</h4></a>
        <a href="/sellers/edit/products"><h4>Edit a product</h4></a>
        <a href="/sellers/products/all"><h4>View all products</h4></a>
        <a href="/sellers/add/item"><h4>Add items for a product</h4></a>
      </div>
    </div>

  </div>

  <script src="/javascripts/drop.js"></script>
</body>

</html>

