<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>Hello World E-commerce</title>
</head>

<body>

  <% include ./partials/navbar %>

  <script>x = <%- items %></script>
  <div class="container" ng-app="checkout" ng-controller="page">
    <h2>Checkout<h2> 
    <hr>
    <div class="row" ng-repeat="item in items">
          <div class="col-md-3">
            <div class="thumbnail">
              <img class="" src="{{ item.static_data.img_url }}" style="cursor:pointer;height:200px;"/>
              <div class="caption">
                <h4><a href="/product/{{ item._id }}">{{ item.name }}</a></h4>
                <h4 class="pull-right">{{ item.price }}</h4>
              </div>
            </div>
          </div>
      </div>
      <a href="/users/checkout"><button class="btn btn-primary">Checkout</button></a>
  </div>
  <script src="/javascripts/checkout.js"></script>
</body>
</html>
