<html>
  <body>
    <h1>Express</h1>
    <% if (success) { %>
      <div class="alert alert-success">
        <%= success %>
      </div>
    <% } %>

    <% if (failure) { %>
      <div class="alert alert-danger">
        <%= failure %>
      </div>
    <% } %>
  </body>
</html>
