<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>Hello World E-commerce</title>
</head>

<body>
  <% include ./partials/navbar %>
  <script> prod = <%- product %></script>

  <div ng-app="product" ng-controller="page">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="" style="width:30%;" class="img-responsive" src="{{ product.static_data.img_url }}" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">${{ product.price }}</h4>
                        <h4><a href="#"> {{ product.name }}</a>
                        </h4>
                        <p>{{ product.description}}</p>
                    </div>
                    <div class="ratings">
                      <p class="pull-right"> {{ reviews.length }} {{ reviews.length > 1 ? 'reviews' : 'review'  }}</p>
                        <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a ng-click="showForm = true" ng-hide="showForm" class="btn btn-success">Leave a Review</a>
                    </div>

                    <h2 ng-if="reviews.length == 0" ng-hide="showForm" style="text-align:center;"> No reviews </h2>
                    <hr>

                    <div class="row" ng-repeat="review in reviews">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{ review.user.local.username }}
                            <span class="pull-right">10 days ago</span>
                            <p> {{ review.content }}</p>
                        </div>
                    </div>
                    <form ng-show="showForm" action="/users/submit/review" method="POST">
                      <textarea type="text" class="form-control" placeholder="Add a review..." name="content"></textarea>
                        <div class="col-md-12">
                          </br>
                          </br>
                          <label>Rating (1 - 5)</label>
                          <span ng-click="rating = 1" class="glyphicon glyphicon-star"></span>
                          <span ng-click="rating = 2" class="glyphicon glyphicon-star"></span>
                          <span ng-click="rating = 3" class="glyphicon glyphicon-star"></span>
                          <span ng-click="rating = 4" class="glyphicon glyphicon-star"></span>
                          <span ng-click="rating = 5" class="glyphicon glyphicon-star"></span>
                          </br>
                          </br>
                        </div>
                      <input type="hidden" name="product_id" value="{{ product._id }}"></input>
                      </br>
                      <button type="submit" class="btn btn-warning">submit</button>
                    </form>
                    <hr>
                </div>

            </div>

        </div>

    </div>

  </div>

<script src="/javascripts/product.js"></script>
</body>

</html>
