<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>Hello World E-commerce</title>
  <script src="/javascripts/angular.min.js"></script>
</head>

<body>
<% include ./partials/navbar %>
<div class="container" ng-app="app">
    <h3> Search results </h3>
    <hr>
    </br>
      <div class="row" ng-controller="home">
          <% search_result.forEach(function(item) { %> 
            <div class="col-md-3">
              <div class="thumbnail">
                <img class="" src="<%= item.static_data.img_url %>" style="cursor:pointer;height:200px;"/>
                <div class="caption">
                    <h4><a href="#"> <%= item.name %></a></h4>
                    <h4 class="pull-right">$24.99</h4>
                    <h4 class="pull-left"><span ng-click="addToCart('<%= item._id %>')" class="glyphicon glyphicon-shopping-cart" style="cursor:pointer"></span></h4>
                </div>
              </div>
            </div>
          <% }); %>
        </div>

        <hr>
    </div>
    <script src="/javascripts/angularApp.js"></script>
  </body>
</html>
