<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/notification.js"></script>
    <script src="/javascripts/user.js"></script>
    <style>
        body        { padding-top:80px; }

    li {
        list-style: none;
        margin-bottom: 1em;
    }
    input { border: 2px solid black; }
    input:-moz-ui-invalid { box-shadow: none; }
    </style>
</head>
<body ng-app="user" ng-controller="signup">

<div class="col-sm-6 col-sm-offset-3">
  <h2>Seller signup</h2>
  <form action="/sellers/signup" method="post">
      <div class="form-group signup" ng-controller="signup">
          <div id="input_container">
            <input class="form-control" type="text" ng-model="email" id="input" name="email" placeholder="Email" style="border-bottom:0px">
            <img ng-show="loadingEmail" src="http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif" id="input_img">
            <img ng-show="eNotTaken" src="/images/Tick.png" id="input_img">
            <img ng-show="eTaken" src="/images/cross.png" id="input_img">
          </div>
          <div id="input_container">
            <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" style="border-bottom:0px">
            <img ng-show="loadingUser" src="http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif" id="input_img">
            <img ng-show="userFree" src="/images/Tick.png" id="input_img">
            <img ng-show="userNotFree" src="/images/cross.png" id="input_img">
          </div>
          <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Signup</button>
  </form>
    <p>Already have an account? <a href="/users/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</body>
</html>


