<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
<% include ../partials/navbar %>
  <div class="container">
    <h2>My cart<h2> 
    <hr>
    <% if (cart.length == 0) { %>
      <div class="alert alert-warning">
        <h4>You don't have any items in the cart, yet!</h4>
      </div>
    <% } else { %>
      <div class="row">
        <% cart.forEach(function(item) { %> 
          <div class="col-md-3">
            <div class="thumbnail">
              <img class="" src="<%= item.static_data.img_url %>" style="cursor:pointer;height:200px;"/>
              <div class="caption">
                  <h4><a href="#"> <%= item.name %></a></h4>
                  <h4 class="pull-right">$24.99</h4>
                  <h4 class="pull-left"><span class="glyphicon glyphicon-trash" style="cursor:pointer"></span></h4>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <a href="/users/checkout"><button class="btn btn-primary">Checkout</button></a>
    <% } %>
    
  </div>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/drop.js"></script>
  <script src="/javascripts/home.js"></script>
</body>

</html>

